{% extends "game/base.html"%}
{% block content %}
    <form method='post'>
        {% csrf_token %}
        {% if side1 %}
            {% comment %} // show game character {% endcomment %}
            <a href="{% url 'game-form' gamenumber=1 %}">Update the configuration number 1 </a>
        {% else%}
            <a href="{% url 'game-form' gamenumber=1 %}">Create the configuration number 1 </a>
        {% endif %}

        {% if side2 %}
            {% comment %} // show game character {% endcomment %}
            <a href="{% url 'game-form' gamenumber=2 %}">Update the configuration number 1 </a>
        {% else%}
            <a href="{% url 'game-form' gamenumber=2 %}">Create the configuration number 1 </a>
        {% endif %}

        {% if invitation %}
            <h4>{{invitation.title|truncatechars:20}}</h4>
            <p>{{invitation.message|truncatechars:50}}
            <a href="{% url 'invitation-form' %}">Update the formal invitation</a>
        {% else%}
            <a href="{% url 'invitation-form' %}">Create the formal invitation</a>
        {% endif %}

       
        {% if side1 and side2 and invitation%}
            {{form}}
            <button type='submit' id='profilemaker'> Obtain my link </button>
        {% endif %}
        {% if wedding_url and side1 and side2 and invitation%}
            <a href="{{netlify_url}}/{{wedding_url}}">{{wedding_url}}</a>
        {% endif %}
        
    </form>
    {% comment %} <script>
        form = document.querySelector('form')
        form.addEventListener('submit',validateSubmission)

        function validateSubmission(e){
            e.preventDefault()
        }

    </script> {% endcomment %}




{% endblock content %}